name: Wrap PHP Info
on:
  issues:
    types: [opened, edited]

jobs:
  wrap_content:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v7
        with:
          script: |
            const body = context.payload.issue.body;
            const marker = "### PHP configuration";
            if (body.includes(marker) && !body.includes("<details>")) {
              const newBody = body.replace(marker, `${marker}\n\n<details>\n<summary>phpinfo() output</summary>\n\n`).concat("\n\n</details>");
              github.rest.issues.update({
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: context.issue.number,
                body: newBody
              });
            }
